
@font-face {
  font-family: "Poppins";
  src:
    url("Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:
    url("Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Italics.ttf") format("truetype");
  font-weight: normal;
  font-style: italics;
}

@font-face {
  font-family: "Poppins";
  src:
    url("Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:
    url("Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:
    url("Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:
    url("Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src:
    url("Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}


@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

:root {
  /* neutral colours */
  --control-neutral: #f3f4fb;
  --neutral-2: #dee3ee; 
  --neutral: #eaecf5;
  --neutral-shade: #cccfdb;
  --bg-menu: #dee3ee;
  --border-menu: #cbd3e6;
  --fg: #111111;
  --primary: #0074D9;
  --primary-border: #0074D9;
  --secondary: #FFFFFF;
  --secondary-border: #FFFFFF;
  /* card */
  --card-bg: #ffffff;
  --card-menu-height: 3rem;
  --card-border-radius: 0rem;
  /* header */
  --nav-height: 4rem;
  --header-input-height: 2.5rem;
  /* plot styling */
  --plot-marked: #FF4136;
  --plot-marked-tint: #ffe3e1;
  --plot-selected: #0074D9;
  --plot-selected-tint: #cbecff;
  --plot-default: #BAC2CA;
  --plot-hover: #FF851B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--neutral);
  font-color: var(--fg);
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: #dee3ee;
}

.c {
  align-items: center;
}

.b {
  align-items: bottom;
}
  

.container {
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  gap: 0rem;
  flex: 1;
}

.main-2-1 {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

.main-3-2 {
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main-1-1 {
  width: 50%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* layout */

@media(min-width: 1218px) {
  .container {
    width: 1218px;
    margin-top: 1.5rem;
    height: auto;
  }

  .main {
    gap: 1rem;
    min-height: 90vh;
  }
}

@media(min-width: 680px) {
  .main-2-1 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

/* navbar */

.navbar {
  line-height: 2.0rem;
}

.navbar__link {
  padding: 0.5rem 1rem;
}

.navbar__link:link, .navbar__link:visited {
  color: var(--primary);
  text-decoration: none;
}

.navbar__link:hover {
  text-decoration: underline;
}

/* Margins */

.mt {
  margin-top: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

.ml {
  margin-left: 1rem;
}

.mr {
  margin-right: 1rem;
}

/* header */

header {
  padding: 0rem 1rem;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__input {
  height: var(--header-input-height);
  font-size: 1.2rem;
  border-radius: 1rem;
  padding-left: 1.5rem;
  transition: all 0.3s; 
}

.header__input:focus {
  border-radius: 1rem 1rem 0rem 0rem ;
}

.header__input input:focus,
.header__dropdown input:focus,
.card__dropdown input:focus
{
  border-radius: 1rem 1rem 0rem 0rem ;
}

.header__dropdown input {
  height: var(--header-input-height);
  font-size: 1.2rem;
  border-radius: 1rem;
  padding-left: 0.5rem;
  transition: all 0.3s; 
}

.header__dropdown::after {
  position: relative;
  right: 2rem;
  content: '\25bc';
}

/* Card */

.card {
  overflow: hidden;
  background: var(--card-bg);
  border-radius: var(--card-border-radius);
  border: 1px solid var(--neutral-shade);
}

.card__content {
  padding: 1rem;
}

.card input {
  background: #f6f8fd;
  padding-left: 1rem;
  border-radius: 1rem;
  border: 0.02rem solid #bfc8cf;
}

.card__dropdown input {
  cursor: pointer;
  border-radius: 1rem;
  padding-left: 0.5rem;
  transition: all 0.3s; 
}

.card__dropdown::after {
  position: relative;
  right: 2rem;
  content: '\25bc';
}

/* tabmenu */
.tabmenu {
  display: flex;
  color: #555;
  padding: 0rem 1rem;
}

.tabmenu__link {
  padding: 0rem 0.5rem;
  line-height: 2rem;
  cursor: pointer;
  justify-content: center;
  user-select: none;
  transition: all 0.2s;
  margin-bottom: 0.2rem;
  border-bottom: 0.2rem solid #fff;
}

.tabmenu__link:hover {
  background: var(--neutral);
}

.tabmenu__link--active {
  color: #000;
  border-bottom: 0.2rem solid var(--primary);
}

/* Input */
button {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.8;
}

input {
  width: 100%;
  display: block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.2rem;
  font-size: 1rem;
  margin:0;
  border: 2px solid var(--secondary-border);
  background: var(--secondary);
  opacity: 0.8;
}


input:focus, input:hover, button:focus, button:hover {
  opacity: 1;
  outline: none;
}

.dropdown {
  cursor: pointer;
}

.dropdown-label {
  display: block;
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
  font-weight: bold;
}

/* MISC - TODO: organise  */
.clear {
  border: 2px solid var(--secondary);
  margin-left: 0;
  display: 'inline-block';
  background: var(--secondary-border);
}

.flex {
  display: flex;
}

.component {
  position: relative;
}

h1 {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.card__header {
10  overflow-x: hidden;
  padding: 1rem;
}

.seperator:after {
  content:'';
  display:block;
  width: 10rem;
  background:red;
  margin-top: 1rem;
  border-bottom: 0.1rem solid var(--border-menu);
}

.card__section {
  padding-left: 1rem;
  padding-top: 1rem;
}

.card__section:after {
  content:'';
  display:block;
  width: 10rem;
  background:red;
  margin-top: 1rem;
  margin-bottom: 0rem;
  border-bottom: 0.1rem solid var(--border-menu);
}

.card__section:last-child:after {
  content:'';
  display:block;
  width: 10rem;
  background:red;
  margin-top: 1rem;
  margin-bottom: 0rem;
  border-bottom: none;
}


.card__menu {
  display: flex;
  justify-content: space-between;
}


/* text */

.font-sm {
  font-size: 0.9rem;
}

/* table */ 

.table-container {
  padding-bottom: 1rem;
  overflow-x: scroll;
  margin: 1rem;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}


.about-table__cell {
  text-align: left;
  vertical-align: top;
  padding-bottom: 0.5rem;
}

.about-table__cell:first-child {
  padding-right: 1rem;
}

.about-table__cell b {
  font-weight: 500;
}

.results-table__cell {
  background: #fff;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-weight: 400;
  max-width: 12rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.25rem;
  text-align: center;
}

.results-table__cell b {
  font-weight: 500;
}

.results-table__cell--selected {
  background: var(--plot-marked-tint);
}

.results-table__row:hover {
  cursor: pointer;
}

.results-table__row:hover {
  background: var(--neutral);
}

.results-table__cell:first-child {
  text-align: left;
  left: 0;
  top: auto;
  position: sticky;
  margin: 0;
}

.position-relative {
  position: relative;
}

.suggestions{
  z-index: 1000;
  background: #ffffff;
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  min-width: 40rem;
}

.search-suggestion {
  width: 100%;
  display: block;
  z-index: 10000;
  font-size: 0.9rem;
  border: none;
  padding-left: 1.5rem;
  text-align: left;
  margin: 0;
  border-radius: 0;
}

.search-suggestion:hover {
  text-decoration: underline;
}

/* svg */

/* dril */

.drill__button {
  margin-right: 0.25rem;
  font-size: 0.8rem;
  padding: 0.1rem 0.25rem;
  border: 0;
  background: var(--primary);
  color: #ffffff;
  text-decoration: none;
}

.drill__info {
  width: 30rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.drill__info b {
  font-weight: 500;
}

/* list */
.list {
  border: 0.02rem solid #bfc8cf;
  margin: 0.5rem 0rem;
  font-size: 0.9rem;
  line-height: 0.8;
}

.list__item {
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.25rem;
  display: table;
}

.list__item--active {
  background: var(--plot-selected-tint);
}

.list__item:hover {C:\Users\galad\Documents\volcano.view\inst\client
  background: var(--neutral);
}

/* graphic elemets */

.dot {
  border-radius: 100px;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.dot--marked {
  background: var(--plot-marked);
}

.dot--hover {
  background: var(--plot-hover);
}

/* axis labels */

.axis-label {
  padding: 0rem 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

/* plot styling */

.point {
  fill: var(--plot-default);
}

.confint {
  stroke: var(--plot-marked);
}
.point--marked {
  fill: var(--plot-marked);
}

.point--selected {
  fill: var(--plot-selected);
}

.point--hover {
  fill: var(--plot-hover);
}

/* legend */
.legend {
  padding: 1rem;
  list-style-type: none;
  font-weight: 300;
}

.legend__dot {
  display: inline-block;
  background: red;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100px;
  margin-right: 0.5rem
}

/* misc */

.loading-text {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--control-neutral);

}

::-webkit-scrollbar-thumb {
  background: var(--neutral-shade);
  border-radius: 100px;
}

